[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
xdg-base-dirs = "*"
pytz = "*"
humanize = "*"
httpx = "*"
pyperclip = "*"

[dev-packages]
pre-commit = "*"
black = "*"
mypy = "*"
build = "*"
twine = "*"
textual-dev = "*"
pylint = "*"
types-pytz = "*"
isort = "*"

[requires]
python_version = "3.12"
